.container1 {
  padding: 0;
  flex-direction: column-reverse;
}

.container1>.img {
  /* flex-basis: 50%; */
  max-width: 100%;
  object-position: 100% 100%;
  position: relative;
}

.text {
  position: relative;
  margin: 0;
  padding: 3%;
  padding-left: 4%;
  padding-top: 0;
  background-color: var(--shade-of-white);
  height: 109vh;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  text-align: center;
}

.text>h1 {
  margin-top: 80px;
  font-family: var(--font-1-t);
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1%;
  letter-spacing: .1rem;
}

.text>p {
  font-family: var(--font-2-b);
  font-size: .8rem;
  line-height: 1.5rem;
  width: 70%;
}

.sport-day {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sport-day>img {
  max-width: 50%;
  opacity: 0;
}

.bttn {
  position: relative;
  border: none;
  background: none;
  font-family: var(--font-1-t);
  font-size: 1.3rem;
  outline: none;
  padding: .9rem;
  transition: .5s ease;
  cursor: pointer;
  z-index: 2;
}

.bttn::before {
  transition: .5s ease;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -111;
  background-color: #000;
  transform-origin: top left;
  transform: scaleX(0);
}

.bttn:hover>a {
  color: #fff;
}

.bttn:hover:before {
  transform: scaleX(1);
}

.bttn>a {
  transition: .5s ease;
  color: #000;
  width: 100%;
  text-decoration: none;
}

@keyframes point-down {
  0% {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(-50%, calc(-50% + 20%));
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1200px) {
  .sport-day>img {
    height: 50%;
    object-fit: cover;
    object-position: 0% 50%;
  }

  .text {
    height: 100vh;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 400px) {
  .sport-day {
    flex-direction: column;
  }
}
