main {
  width: 100%;
  padding: 0 12%;
  padding-top: 9%;
  padding-bottom: 2%;
}

.text>h1 {
  font-size: 5rem;
  margin-top: 0;
  letter-spacing: .1rem;
  font-weight: 100;
  font-family: var(--font-1-t)
}

.text>p {
  font-family: var(--font-2-b);
  font-size: 1.2rem;
  line-height: 2.3rem;
  letter-spacing: .1rem;
  margin-bottom: 50px;
}

.text>p:last-of-type {
  margin-bottom: 0;
}
